# Compiled python modules.
*.pyc

# Byte-compiled
_pycache__/
.cache/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock

# Tests
.pytest_cache/

# Type checking
.pytype/

# Other
*.DS_Store

# PyCharm
.idea
android_world_trace*/
android_world_high_level_plans/AudioRecorderRecordAudio.txt
android_world_high_level_plans/AudioRecorderRecordAudioWithFileName.txt
android_world_high_level_plans/BrowserDraw.txt
android_world_high_level_plans/BrowserMaze.txt
android_world_high_level_plans/BrowserMultiply.txt
android_world_high_level_plans/CameraTakePhoto.txt
android_world_high_level_plans/CameraTakeVideo.txt
android_world_high_level_plans/ClockStopWatchPausedVerify.txt
android_world_high_level_plans/ClockStopWatchRunning.txt
android_world_high_level_plans/ClockTimerEntry.txt
android_world_high_level_plans/ContactsAddContact.txt
android_world_high_level_plans/ContactsNewContactDraft.txt
android_world_high_level_plans/ExpenseAddMultiple.txt
android_world_high_level_plans/ExpenseAddMultipleFromGallery.txt
android_world_high_level_plans/ExpenseAddMultipleFromMarkor.txt
android_world_high_level_plans/ExpenseAddSingle.txt
android_world_high_level_plans/ExpenseDeleteDuplicates.txt
android_world_high_level_plans/ExpenseDeleteDuplicates2.txt
android_world_high_level_plans/ExpenseDeleteMultiple.txt
android_world_high_level_plans/ExpenseDeleteMultiple2.txt
android_world_high_level_plans/ExpenseDeleteSingle.txt
android_world_high_level_plans/FilesDeleteFile.txt
android_world_high_level_plans/FilesMoveFile.txt
android_world_high_level_plans/MarkorAddNoteHeader.txt
android_world_high_level_plans/MarkorChangeNoteContent.txt
android_world_high_level_plans/MarkorCreateFolder.txt
android_world_high_level_plans/MarkorCreateNote.txt
android_world_high_level_plans/MarkorCreateNoteAndSms.txt
android_world_high_level_plans/MarkorCreateNoteFromClipboard.txt
android_world_high_level_plans/MarkorDeleteAllNotes.txt
android_world_high_level_plans/MarkorDeleteNewestNote.txt
android_world_high_level_plans/MarkorDeleteNote.txt
android_world_high_level_plans/MarkorEditNote.txt
android_world_high_level_plans/MarkorMergeNotes.txt
android_world_high_level_plans/MarkorMoveNote.txt
android_world_high_level_plans/MarkorTranscribeReceipt.txt
android_world_high_level_plans/MarkorTranscribeVideo.txt
android_world_high_level_plans/NotesIsTodo.txt
android_world_high_level_plans/NotesMeetingAttendeeCount.txt
android_world_high_level_plans/NotesRecipeIngredientCount.txt
android_world_high_level_plans/NotesTodoItemCount.txt
android_world_high_level_plans/OpenAppTaskEval.txt
android_world_high_level_plans/OsmAndFavorite.txt
android_world_high_level_plans/OsmAndMarker.txt
android_world_high_level_plans/OsmAndTrack.txt
android_world_high_level_plans/RecipeAddMultipleRecipes.txt
android_world_high_level_plans/RecipeAddMultipleRecipesFromImage.txt
android_world_high_level_plans/RecipeAddMultipleRecipesFromMarkor.txt
android_world_high_level_plans/RecipeAddMultipleRecipesFromMarkor2.txt
android_world_high_level_plans/RecipeAddSingleRecipe.txt
android_world_high_level_plans/RecipeDeleteDuplicateRecipes.txt
android_world_high_level_plans/RecipeDeleteDuplicateRecipes2.txt
android_world_high_level_plans/RecipeDeleteDuplicateRecipes3.txt
android_world_high_level_plans/RecipeDeleteMultipleRecipes.txt
android_world_high_level_plans/RecipeDeleteMultipleRecipesWithConstraint.txt
android_world_high_level_plans/RecipeDeleteMultipleRecipesWithNoise.txt
android_world_high_level_plans/RecipeDeleteSingleRecipe.txt
android_world_high_level_plans/RecipeDeleteSingleWithRecipeWithNoise.txt
android_world_high_level_plans/RetroCreatePlaylist.txt
android_world_high_level_plans/RetroPlayingQueue.txt
android_world_high_level_plans/RetroPlaylistDuration.txt
android_world_high_level_plans/RetroSavePlaylist.txt
android_world_high_level_plans/SaveCopyOfReceiptTaskEval.txt
android_world_high_level_plans/SimpleCalendarAddOneEvent.txt
android_world_high_level_plans/SimpleCalendarAddOneEventInTwoWeeks.txt
android_world_high_level_plans/SimpleCalendarAddOneEventRelativeDay.txt
android_world_high_level_plans/SimpleCalendarAddOneEventTomorrow.txt
android_world_high_level_plans/SimpleCalendarAddRepeatingEvent.txt
android_world_high_level_plans/SimpleCalendarAnyEventsOnDate.txt
android_world_high_level_plans/SimpleCalendarDeleteEvents.txt
android_world_high_level_plans/SimpleCalendarDeleteEventsOnRelativeDay.txt
android_world_high_level_plans/SimpleCalendarDeleteOneEvent.txt
android_world_high_level_plans/SimpleCalendarEventOnDateAtTime.txt
android_world_high_level_plans/SimpleCalendarEventsInNextWeek.txt
android_world_high_level_plans/SimpleCalendarEventsInTimeRange.txt
android_world_high_level_plans/SimpleCalendarEventsOnDate.txt
android_world_high_level_plans/SimpleCalendarFirstEventAfterStartTime.txt
android_world_high_level_plans/SimpleCalendarLocationOfEvent.txt
android_world_high_level_plans/SimpleCalendarNextEvent.txt
android_world_high_level_plans/SimpleCalendarNextMeetingWithPerson.txt
android_world_high_level_plans/SimpleDrawProCreateDrawing.txt
android_world_high_level_plans/SimpleSmsReply.txt
android_world_high_level_plans/SimpleSmsReplyMostRecent.txt
android_world_high_level_plans/SimpleSmsResend.txt
android_world_high_level_plans/SimpleSmsSend.txt
android_world_high_level_plans/SimpleSmsSendClipboardContent.txt
android_world_high_level_plans/SimpleSmsSendReceivedAddress.txt
android_world_high_level_plans/SportsTrackerActivitiesCountForWeek.txt
android_world_high_level_plans/SportsTrackerActivitiesOnDate.txt
android_world_high_level_plans/SportsTrackerActivityDuration.txt
android_world_high_level_plans/SportsTrackerLongestDistanceActivity.txt
android_world_high_level_plans/SportsTrackerTotalDistanceForCategoryOverInterval.txt
android_world_high_level_plans/SportsTrackerTotalDurationForCategoryThisWeek.txt
android_world_high_level_plans/SystemBluetoothTurnOff.txt
android_world_high_level_plans/SystemBluetoothTurnOffVerify.txt
android_world_high_level_plans/SystemBluetoothTurnOn.txt
android_world_high_level_plans/SystemBluetoothTurnOnVerify.txt
android_world_high_level_plans/SystemBrightnessMax.txt
android_world_high_level_plans/SystemBrightnessMaxVerify.txt
android_world_high_level_plans/SystemBrightnessMin.txt
android_world_high_level_plans/SystemBrightnessMinVerify.txt
android_world_high_level_plans/SystemCopyToClipboard.txt
android_world_high_level_plans/SystemWifiTurnOff.txt
android_world_high_level_plans/SystemWifiTurnOffVerify.txt
android_world_high_level_plans/SystemWifiTurnOn.txt
android_world_high_level_plans/SystemWifiTurnOnVerify.txt
android_world_high_level_plans/TasksCompletedTasksForDate.txt
android_world_high_level_plans/TasksDueNextWeek.txt
android_world_high_level_plans/TasksDueOnDate.txt
android_world_high_level_plans/TasksHighPriorityTasks.txt
android_world_high_level_plans/TasksHighPriorityTasksDueOnDate.txt
android_world_high_level_plans/TasksIncompleteTasksOnDate.txt
android_world_high_level_plans/TurnOffWifiAndTurnOnBluetooth.txt
android_world_high_level_plans/TurnOnWifiAndOpenApp.txt
android_world_high_level_plans/VlcCreatePlaylist.txt
android_world_high_level_plans/VlcCreateTwoPlaylists.txt
